@model int

@{
    ViewData["Title"] = "Order";
}

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Din Order Är Betald</h1>
        Ditt Order Nummer är : @Model <br/>
        Orderbekräftelse Via Mail <br/>
        <img src="~/images/lov.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Din Order Är Genomförd!
        <br/>
    </div>
</div>